@import "tailwindcss";




body{
    background-image: url(../photo/backGround.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
    color: rgba(83, 83, 216, 0.942);
}